body{
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 900px;
    height: auto;
    display: flex;
}
h1{
    width: auto;
    font-size: 27px;
    letter-spacing:8px;
    color: #5c8c08;
    margin-left: 20px;
    margin-right: 20px;
    /* text-align: center; */
}
h1 span{
    color: #bf8237;
}
h2{
    color: #69ad09;
    border-bottom: 1px #e5eed7 solid;
}
h3{
    color:#d49e59;
    margin-bottom: 10px;
}
p{
    font-weight: normal;
    margin: 0;
}
.main{
    background-color: #bf8237;
    width: 95%;
}
.content{
    position: relative;
    /* display: flex; */
    height: auto;
    align-self: center;
    margin: 0px 15px 0px 15px;
    margin: auto;
}
ul{
    align-items: center;
    float: left;
    margin-right: 20px;
    margin-top: 100px;
    padding-left: 0;
    
}

.container{
    float: right;
    margin: 0px 15px 0px 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: 1px #dfdfdf solid;
    text-align: justify;
}
.menu{
    text-align: center;
    border: 1px #dddeda solid;
    margin-top: 7px;
    padding: 7px 25px 7px 25px;
    list-style: none;
    background: linear-gradient(180deg, #cbe78300 0%, 
    #cbe78328 35%, 
    #cbe783 100%);
    /* background-color: #cbe783; */
}
.menu a{
    text-decoration: none;
    color: #5e6b5c;
}
#actual{
    background: linear-gradient(180deg, #e5cdb200 0%, 
    #e5cdb228 35%, 
    #e5cdb2 100%);
    /* background-color: #e5cdb2; */
}
#actual a{
    color: black;
}
.menu:hover{
    background-color: #dddeda;
}
div #banner{
    display: flex;
    justify-content: center;
}
.main_container{
    display: flex;
    
}

.creative{
    width: 100%;
    margin-top: 16px;
    text-align: center;
    color: #c9c9c9;
    font-size: 13px;
    font-style: italic;
}
.creative a{
    color: #c9c9c9;
}