body{
    background-color: rgb(255, 248, 238);
}
h1{
    padding: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 221, 149);
    color: rgb(85, 85, 85);
}
h2{
    font-style: italic;
    color: rgb(83, 143, 212);
    font-size: xx-large;
    font-weight: bold;
}