body{
    background-color: rgb(255, 248, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    padding: 6px;
    background-color: rgb(255, 219, 143);
    color: rgb(111, 95, 86);
}
h2{
    font-style: italic;
    color: rgb(107, 155, 189);
    font-size: 2.8em;
    font-weight: bold;
}
h3{
    color: #788e9b;
}
span{
    color: #8997a8;
    font-style: italic;
}
p, ul ,h3{
    font-size: 1.4em;
}
